<div class="container mt-4">
  <div class="row">
    <div class="col-md-10 mx-auto ">
      <p class="mi">イベント編集</p>
      
        <p>イベント名</p>
       <%= form_with model: @event do |f| %>
          <%= f.text_field :title %>
          <%= f.date_field :event_date, as: :datetime_picker %>
        <p>グループ</p>
          <%= f.select :group_id, current_user.groups.map{|group| [group[:name], group[:id]]}, {}, {class: 'custom-select'} %>
          <%= f.button "更新",class:"btn-stitch" %>
          <%= link_to "削除", event_path(@event), method: :delete, class: " btn-stitch" %>
        <% end %>
        <br>
      
      <a href="<%= public_calendar_index_path%>" class="btn-stitch">戻る</a>
    </div>
  </div>
</div>