<div class='container px-lg-5 px-sm-0'>
   <div class='row'>
    <div class='col-lg-10 mx-auto col-sm-11'>
      <p class="mi">イベント一覧</p>
        <p class="kase">
          <%= @group.name %>
        </p>
        <table class='table'>
          <thead>
            <tr>
              <th>日にち</th>
              <th></th>
              <th>イベント名</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @events.each do |event| %>
            <tr>
              <td><%= event.event_date %></td>
              <td></td>
              <td><%= link_to event.title, edit_event_path(event)%></td>
              <td>
                <!--写真-->
                <% event.photos.each do |photo| %>
                  <%= link_to event_photo_path(event,photo), class: "btn-stitch" do %> 
                    <i class="fa-regular fa-image"></i>
                  <% end %>
                <% end %>
              </td>
              <td>
             <%= link_to "予定追加", new_event_schedule_path(event), class: "btn-stitch" %>
              </td>
            </tr>
           <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>