<%= form_with model: group, local: true do |f| %>
  <div class="form-group">
    <%= f.label :グループ名 %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :ひとこと %>
    <%= f.text_area :introduction, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :グループ画像 %>
    <%= f.file_field :group_image, class: "form-control-file" , accept: "image/*" %>
  </div>

<div class= "row justify-content-between">
    <div class="form-group text-right col-3">
      <% if group.is_owned_by?(current_user) %>
        <% if action_name=="edit" %>
          <%= link_to "削除", group_path(group), method: :delete, data: {confirm: "削除しますか？"}, class: " btn-stitch" %>
        <% end %>
      <% end %>
    </div>
    <div class="form-group text-right col-3">
      <%= f.submit button_name, class: 'btn-stitch' %>
    </div>
</div>
<% end %>