<div class="container mt-4">
  <div class="row">
 
    <p class="mi col-12">予定編集</p>
    <div class="text-center col-6 mx-auto offset-3">
     
  
        <p class="kase"><%= @schedule.event.title %></p>
        <p class="kase"><%= @schedule.event.group.name %></p>
   
    
        <%= form_with model: @schedule, url:event_schedule_path(@schedule.event,@schedule) do |f| %>
        <p>予定名</p>
            <%= f.text_field :title, class: "col-8" %>
        <br></br>
            <%= f.time_field :start_time, class: "col-4" %>
            <%= f.time_field :end_time, class: "col-4" %>
      <br></br>
    
        <%= f.button "更新",class:"btn-stitch col-8" %>
        <%= link_to "削除", event_schedule_path(@schedule.event,@schedule), method: :delete, class: " btn-stitch col-8 mt-3" %>
      <% end %>
  
      </div>
    </div>

</div>

