<div class="container mt-4">
  <div class="row">
    <div class="col-md-10 mx-auto text-center ">
      <p class="mi"><%= @event.event_date %><%= @event.group.name %></p>
      
      <!--予定作成フォーム-->
     <h3> <p class="kase"><%= @event.title %></p></h3>
      <%= form_with model: @schedule ,url: event_schedules_path(@event) do |f| %>
      <div class="row">
        <div class="col-12">
          <%= f.label :title, "予定"%>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <%= f.text_field :title, class:'form-control mb-3', required: true, placeholder: "予定を入力" %>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6">
          <%= f.time_field :start_time, class: "w-100" %>
        </div>
        <div class="col-6">
          <%= f.time_field :end_time, class: "w-100"  %>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <%= f.button "予定追加",class:"btn-stitch" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

