<div class='container text-center px-lg-5 px-sm-0'>
  <p class="mi">すべての思い出</p>
  <div class='row'>
    <% if @photos.present? %>
        <% @photos.each do |photo| %>
      <div class='su col-6 col-sm-4'>
            <%= link_to edit_event_event_photo_path(photo.event, photo) do %>
              <% if photo.image.attached? %>
                <%= image_tag photo.image, size:"120x80" %>
              <% end %>
            <% end %>
      </div>
      <div class='pc col-6 col-sm-4'>
            <%= link_to edit_event_event_photo_path(photo.event, photo) do %>
              <% if photo.image.attached? %>
                <%= image_tag photo.image, size:"240x160" %>
              <% end %>
            <% end %>
      </div>
        <% end %>
    <% else %>
      <P class="text-center">まだ思い出がありません！</P>
    <% end %>
  </div>
</div>
<%= paginate @photos %>