<div class="container mt-4">
  <div class="row">
    <div class="col-md-4 mx-auto ">
      <p class="mi">選択写真</p>
      <p class="kase"><%= @event.group.name %></p>
      <div class="row">
        <div class="col-md-4 mx-auto ">
          <p class="kase"><%= @event.title %></p>
          <p class="kase"><%= @event.event_date %></p>
        </div>
      </div>
        <%= image_tag @photo.image %>
    
    <!-- 写真の削除 -->
    <%= link_to '写真を削除する', event_event_photo_path(@event,@photo), method: :delete,class: " btn-stitch", data: { confirm: '本当に削除しますか？' } %>
    <%= link_to 'イベント写真一覧',event_event_photos_path(@event,@photo), class: "btn-stitch" %> 
    </div>
  </div>
</div>