<div class='container px-lg-5 px-sm-0'>
   <div class='row'>
    <div class='col-lg-10 mx-auto col-sm-12'>
      <nav>
      <p class="mi"><%= "#{@event.title}の思い出" %></p>
      </nav>
      <nav>
      <p class="kase"><%= @event.event_date %></p>
      <p class="kase"><%= @event.group.name %></p>
      </nav>
      <% @photos.each do |photo| %>
        <%= link_to edit_event_event_photo_path(photo.event, photo) do %>
            <%= image_tag photo.image if photo.image.attached? %>
        <% end %>
      <% end %>
      <%= link_to new_event_event_photo_path(@event), class: "btn-stitch" do %>
        <i class="fa-solid fa-image"></i> <i class="fa-solid fa-plus"></i>
      <% end %>
    </div>
  </div>
</div>