<div class='container text-center px-lg-11 px-sm-0'>
  <p class="mi">
    <%= "#{@event.title}の思い出" %>
    <%= link_to new_event_event_photo_path(@event), class: "btn-stitch ml-3" do %>
      <i class="fa-solid fa-image"></i> <i class="fa-solid fa-plus"></i>
    <% end %>
  </p>
  <p class="kase"><%= @event.event_date %></p>
  <p class="kase"><%= @event.group.name %></p>
  <div class='row'>
 <% @photos.each do |photo| %>
      <div class='su col-12 col-sm-4'>
            <%= link_to edit_event_event_photo_path(photo.event, photo) do %>
              <% if photo.image.attached? %>
                <%= image_tag photo.image, size:"160x90" %>
              <% end %>
            <% end %>
      </div>
      <div class='pc col-6 col-sm-4'>
            <%= link_to edit_event_event_photo_path(photo.event, photo) do %>
              <% if photo.image.attached? %>
                <%= image_tag photo.image, size:"240x160" %>
              <% end %>
            <% end %>
      </div>
  <% end %>
    </div>
<%= paginate @photos %>
</div>