<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 mx-auto ">
    <p class="mi">ある日の１ページ</p>
      
      <div class="pc">
        <nav>
  <!--ログインしてしている時-->
        <% if user_signed_in? %> 
          <a href="<%= new_group_path %>" class="btn-stitch">グループ作成</a>
          <a href="photos" class="btn-stitch">アルバム一覧</a>
          <a href="user" class="btn-stitch">マイ編集</a>
          <a href="photo_bookmarks_index" class="btn-stitch">お気に入り写真</a>
  <!--していない時-->
        <% else %>
          <a href="about" class="btn-stitch">about</a>
          <a href="<%= public_calendar_index_path %>" class="btn-stitch">カレンダー</a>
          <a href="<%= new_user_session_path %>" class="btn-stitch"> Log in </a>
          <a href="<%= new_user_registration_path %>" class="btn-stitch">Sign up</a>
        <% end %>
        </nav>
        <%= image_tag  "kesiki.png",size:"190x120", class:"center"  %>
      </div>
      
      <div class="su">
         <!--ログインしてしている時-->
        <% if user_signed_in? %> 
        <nav>
          <a href="<%= new_group_path %>" class="btn-stitch">グループ作成</a>
          <a href="photos" class="btn-stitch">アルバム一覧</a>
        </nav>
        <br>
        <nav>
          <a href="user" class="btn-stitch">マイ編集</a>
          <a href="photo_bookmarks_index" class="btn-stitch">お気に入り写真</a>
        </nav>
  <!--していない時-->
        <% else %>
        <nav>
          <a href="about" class="btn-stitch">about</a>
          <a href="<%= public_calendar_index_path %>" class="btn-stitch">カレンダー</a>
        </nav>
        <br> 
        <nav>
          <a href="<%= new_user_session_path %>" class="btn-stitch"> Log in </a>
          <a href="<%= new_user_registration_path %>" class="btn-stitch">Sign up</a>
        </nav>
        <% end %>
      <%= image_tag  "kesiki.png",size:"240x200", class:"center"  %>
      </div>
    </div>
  </div>
</div>