<div class='row'>
  <div class='col-lg-10 mx-auto col-sm-12'>
    <% if @group.group_users.exists?(user_id: current_user.id) %>
    　　　　<%= link_to 'グループ退出', group_group_users_path(@group), method: :delete, class: "btn-stitch", data: { confirm: "本当にグループを退出しますか？" } %>
    <% elsif @group.permits.exists?(user_id: current_user.id) %>
    　　　　<%= link_to '申請取消', group_permits_path(@group), method: :delete, class: "btn-stitch" %>
    <% else %>
    　　　　<%= link_to '加入申請', group_permits_path(@group), method: :post, class: "btn-stitch" %>
    <% end %>
    
    
    <% if @group.owner_id == current_user.id %>
        <div class="dropdown">
        <button class="btn btn-sm btn-secondary dropdown-toggle"
                type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          オーナー専用
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <%= link_to "承認待ち一覧", permits_path(@group),  class: "btn-stitch" %>  ⇦編集箇所
          <%= link_to 'グループ編集', edit_group_path(@group),  class: "btn-stitch" %>
          <%= link_to 'グループ削除', group_path(@group), method: :delete,  class: "btn-stitch", data: { confirm: "本当に削除しますか？" } %>
        </div>
      </div>
    <% end %>
  </div>
</div>