<div class="container mt-4">
  <div class="top">       
    <div class="row">
      <div class="col-md-10 mx-auto text-center ">
        <p class="mi">登録グループ一覧</p>
        <%= form_with(url: admin_groups_path, method: :get) do |form| %>
          <%= form.text_field :search, placeholder: "グループを検索" %>
          <%= form.submit "検索" %>
        <% end %>
        
        <table>
          <thead>
            <tr>
              <th style="width: 10%"></th>
              <th style="width: 20%"></th>
              <th style="width: 10%">ID</th>
              <th style="width: 40%">Name</th>
              <th style="width: 20%"></th>
            </tr>
          </thead>
          <tbody>
            <% @groups.each do |group| %>
              <tr>
                <td></td>
                <td>
                  <% if group.group_image.attached? %>
                    <%= image_tag group.group_image,size:"80x80" %>
                  <% else %>
                    <%= image_tag 'no_image', size: "80x80" %>
                  <% end %>
                </td>
                <td><%= group.id %></td>
                <td><%= link_to group.name %></td>
                <td><%= link_to "Delete", admin_group_path(group), method: :delete,class: "btn-stitch", data: { confirm: "本当に削除しますか？" } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>