<div class="container">
  <div class="row">
    <div class="b-image"><%= image_tag  "rabya.png", size:"200x200" %></div>
      <div class="col-sm-11 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto mt-2">
        <p class="mi">プロフィール</p>
          <% if @user.profile_image.attached? %>
            <%= image_tag @user.get_profile_image(100,100) %>
          <% else %>
            <%= image_tag 'no_image', size: "50x50" %>
          <% end %>
        <table class="table">
          <tbody>
            <tr>
              <th>なまえ</th>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <th>ひとこと</th>
              <td><%= @user.introduction %></td>
            </tr>
          </tbody>
        </table>
        <div class="text-right">
          <nav>
           <%= link_to "Log out" , destroy_user_session_path, method: :delete, class:"btn-stitch" %>
          <% unless @user.guest_user? %>
            <% if @user == current_user %>
              <a href="<%= edit_user_path %>" class="btn-stitch">編集</a>
            <% end %>
          <% end %>
          </nav>
        </div>
      </div>
    <div class="b-image"><%= image_tag  "abela.png", size:"150x150" %></div>
  </div>
</div>